= form_for @family_member, url:   create_family_member_customer_path(@customer) do |f|
  = render partial: 'personal_info_fields', locals: {f: f}
  = render partial: 'devise/registrations/common_family_fields', locals: {f: f}
  = f.submit 'Submit', class: 'btn btn-success'