= @family_member.personal_info.full_name
br
= @family_member.personal_info.date_of_birth
br
= @family_member.personal_info.gender
br
= @family_member.health
br
= @family_member.death_age
br
= @family_member.death_year
br
= @family_member.death_reason
br
= @family_member.relation_with_customer