- if @email.present?
  |$("label[for='user_email']").remove();
  |$('#user_email').after("<label for='user_email' generated='true' class='error' style='display: none;'>Email already exists</label>");
-else
  |$("label[for='user_email']").remove();