.bottom{
  margin-top: 3cm;
  margin-right: 80px;
}
.mrg-left-signup-cancel{
  margin-left: 20px;
}
.mrg-left-signup{
  margin-left: 102px;
}
.login_wrapper {
  margin: 5% auto 0;
  max-width: 350px;
  position: relative;
  right: -8cm !important;
}
.align{
  text-align: right;
}
.x_panel1 {
  background: #fff none repeat scroll 0 0 !important;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 150px !important;
  opacity: 1;
  transition: all 0.2s ease 0s;
  width: 50% !important;
  padding: 0cm,18cm,0cm,-20cm !important; 
  text-align: center !important; 
}
.one {
  border: 1px solid #e6e9ed !important;
  text-align: center !important; 
}
.link-font{
  font-size: 29px;
  text-decoration: underline;
  margin-top: 5px !important;
}
.radio1{
  margin-left: -141px !important;
  margin-top: -10px !important;
}
.radio2{
  margin-left: -120px !important;
}
.btn-space{
  margin-top: 25px;
  width: 150px;
 }