.mrg-right-5{
  margin-right: 14cm;
}
.mrg-left-5{
  margin-left: 15cm;
}
.bottom{
  margin-top: 3cm;
  margin-right: 80px;
}
.mrg-left-signup-cancel{
  margin-left: 20px;
}
.mrg-left-signup{
  margin-left: 102px;
}