|$("#company-selection").html("#{escape_javascript(render partial: 'company_change_option', locals: { company: @company })}");
|$("#plan-selection").html("#{escape_javascript(render partial: 'plan_change_option', locals: { plan: @plan })}");
- if (@category == 'Life Insurance')
  |$("#policy_fields").html("#{escape_javascript(render partial: 'life_insurance_policies', locals: { life_insurance: @life_insurance})}");
- if (@category == 'Vehicle')
  |$("#policy_fields").html("#{escape_javascript(render partial: 'vehicle_policies', locals: { vehicle: @vehicle })}");