|$("#plan-selection").html("#{escape_javascript(render partial: 'plan_change_option', locals: { plan: @plan, policy: @policy})}");
|$("#category-selection").html("#{escape_javascript(render partial: 'category_change_option', locals: { category: @category })}");