|$("#company-selection").html("#{escape_javascript(render partial: 'company_change_option', locals: { company: @company })}");
|$("#category-selection").html("#{escape_javascript(render partial: 'category_change_option', locals: { category: @category })}");